<div class="container d-flex border mt-5 ">
    <div class="justify-content-center d-flex flex-column">
    <h1 class="align-self-center">Nueva Oferta</h1>
<form class="d-flex flex-column" [formGroup]="formularioRegistro" (ngSubmit)="this.addOfert()">
    <div class="form-row row justify-content-center">
      <div class="form-group col-md-5 mt-2">
        <label for="titulo">Titulo*</label>
        <input type="text" class="form-control" name="titulo" formControlName="titulo" id="titulo">
      </div>
      <div class="form-group col-md-5 mt-2">
        <label for="descripcion">Descripción*</label>
        <input type="text" class="form-control" name="descripcion" formControlName="descripcion" id="descripcion">
      </div>
      <div class="form-group col-md-5 mt-2">
        <label for="empresa">Empresa*</label>
        <input type="text" class="form-control" name="empresa" formControlName="empresa" id="empresa">
      </div>
      <div class="form-group col-md-5 mt-2">
        <label for="salario">Salario*</label>
        <input type="number" class="form-control" name="salario" formControlName="salario" id="salario">
      </div>
      <div class="form-group col-md-5 mt-2">
        <label for="ciudad">Ciudad*</label>
        <input type="text" class="form-control" name="ciudad" formControlName="ciudad" id="ciudad">
      </div>
      <div class="form-group col-md-5 mt-2">
        <label for="email">Email*</label>
        <input type="email" class="form-control" name="email" formControlName="email" id="email">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3 col-md-3 align-self-center" [disabled]="!this.formularioRegistro.valid">Agregar</button>
  </form>
</div>
</div>
